footer {
  margin-bottom: 20px;
}

#sync {
  min-height: 50px;
}

#sync-close {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  cursor: pointer;
}

#sync-close:hover {
  text-decoration: none;
}