footer {
  margin-bottom: 20px;
}

#sync {
  min-height: 50px;
}

#sync-close {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  cursor: pointer;
}

#sync-close:hover {
  text-decoration: none;
}

#welcome-title {
  /*position: relative;*/
  /*left: 40px;*/
  text-align: center;
}

#sync-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#sync-alert.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#sync-alert.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#sync-alert.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#sync-alert.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

#sync-alert.default {
  color: grey;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}