<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static/css/home.css">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <header id="header">
        <div class="row">
          <div class="col-md-4">
            <h1>Shell History</h1>
          </div>
          <div class="col-md-8">
            <br>
            <button id="sync-button" class="btn btn-default" style="display:inline;">Sync data</button>
            <div id="sync-alert" role="alert" style="display:none; width:100%;">
              <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
              <span id="sync-message" style="width:100%;"></span>
            </div>
            <script>
              $(document).ready(function() {
                $('#sync-alert .close').click(function(e) {
                  $(this).parent().fadeOut(500);
                });
                $("#sync-button").click(function() {
                  $.getJSON('/update', function(data) {
                    $('#sync-message').text(data.message);
                    $('#sync-alert')
                      .removeClass()
                      .addClass('alert ' + data.class)
                      .css('display', 'inline');
                  });
                });
              });
            </script>
          </div>
        </div>
      </header>
      <hr>
      <section id="content">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled">
              <!-- <li><a href="/">Home</a></li> -->
              <li><a href="/length">Commands by length</a></li>
              <li><a href="/type">Commands by type</a></li>
              <li><br></li>
              <li><a href="/daily">Daily commands</a></li>
              <li><br></li>
              <li><a href="/fuck">"Fuck" commands</a></li>
              <li><br></li>
              <li><a href="/hourly">Hourly commands</a></li>
              <li><a href="/hourly_average">Hourly commands (average)</a></li>
              <li><br></li>
              <li><a href="/markov">Markov chain</a></li>
              <li><a href="/markov_full">Markov chain (full commands)</a></li>
              <li><br></li>
              <li><a href="/monthly">Monthly commands</a></li>
              <li><a href="/monthly_average">Monthly commands (average)</a></li>
              <li><br></li>
              <li><a href="/top_commands_full">Top commands (full lines)</a></li>
              <li><a href="/top_commands">Top commands (first word only)</a></li>
              <li><br></li>
              <li><a href="/trending">Trending commands</a></li>
            </ul>
          </div>
          <div class="col-md-9">
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>
      <hr>
      <footer id="footer">
        <em>&copy; Copyright 2017 by Timothée Mazzucotelli.</em>
      </footer>
    </div>
  </body>
</html>
